pkgbase = 86box-nightly
	pkgdesc = An emulator for classic IBM PC clones
	pkgver = 9310
	pkgrel = 1
	url = https://86box.net/
	arch = x86_64
	arch = aarch64
	license = GPL-2.0-or-later
	license = CC-BY-4.0
	makedepends = cmake>=3.21
	makedepends = extra-cmake-modules
	makedepends = ninja
	makedepends = qt6-tools
	makedepends = vde2
	makedepends = vulkan-headers
	makedepends = git
	depends = fluidsynth
	depends = hicolor-icon-theme
	depends = libserialport
	depends = libslirp
	depends = openal
	depends = qt6-base
	depends = rtmidi
	depends = sdl2
	depends = freetype2
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = libevdev
	depends = libglvnd
	depends = libpng
	depends = libsndfile
	depends = libx11
	depends = libxcb
	depends = libxext
	depends = libxi
	depends = libxkbcommon-x11
	depends = libxkbcommon
	depends = wayland
	depends = zlib
	optdepends = 86box-roms: ROM files
	optdepends = discord-game-sdk: Discord Rich Presence
	optdepends = ghostscript: Printing with Generic PostScript Printer
	optdepends = libpcap: Networking not limited to TCP/IP
	provides = 86box
	conflicts = 86box
	conflicts = 86box-git
	conflicts = 86box-odr-git
	conflicts = pcbox-git
	options = !buildflags
	source = 86box-nightly_9310.txz::https://ci.86box.net/job/86Box/9310/artifact/86Box-Source-b9310.tar.xz
	source = 86box-nightly-assets::git+https://github.com/86Box/assets.git
	sha512sums = 4969b29d6c7b0c490da8d6f2237f5d3063c1f6d9c4a1276594ec45faa64c08169ceeefa55f2dd1d0e6a83ea84c56a8b5f1f2357fd9d97fd57378bd11e719263d
	sha512sums = SKIP

pkgname = 86box-nightly
