pkgbase = 86box-nightly
	pkgdesc = An emulator for classic IBM PC clones
	pkgver = 9254
	pkgrel = 1
	url = https://86box.net/
	arch = x86_64
	arch = aarch64
	license = GPL-2.0-or-later
	license = CC-BY-4.0
	makedepends = cmake>=3.21
	makedepends = extra-cmake-modules
	makedepends = ninja
	makedepends = qt6-tools
	makedepends = vde2
	makedepends = vulkan-headers
	makedepends = git
	depends = fluidsynth
	depends = hicolor-icon-theme
	depends = libserialport
	depends = libslirp
	depends = openal
	depends = qt6-base
	depends = rtmidi
	depends = sdl2
	depends = freetype2
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = libevdev
	depends = libglvnd
	depends = libpng
	depends = libsndfile
	depends = libx11
	depends = libxcb
	depends = libxext
	depends = libxi
	depends = libxkbcommon-x11
	depends = libxkbcommon
	depends = wayland
	depends = zlib
	optdepends = 86box-roms: ROM files
	optdepends = discord-game-sdk: Discord Rich Presence
	optdepends = ghostscript: Printing with Generic PostScript Printer
	optdepends = libpcap: Networking not limited to TCP/IP
	provides = 86box
	conflicts = 86box
	conflicts = 86box-git
	conflicts = 86box-odr-git
	conflicts = pcbox-git
	options = !buildflags
	source = 86box-nightly_9254.txz::https://ci.86box.net/job/86Box/9254/artifact/86Box-Source-b9254.tar.xz
	source = 86box-nightly-assets::git+https://github.com/86Box/assets.git
	sha512sums = 55e9090f7758e0e53e13ff09f2eb27f9de317840a8fc16487659ca2c107e7e8707749e1eaae1f94fc00248b17c0ee0f02b67168e47768a7a146c1355e9a96fe4
	sha512sums = SKIP

pkgname = 86box-nightly
