pkgbase = 86box-nightly
	pkgdesc = An emulator for classic IBM PC clones
	pkgver = 9293
	pkgrel = 1
	url = https://86box.net/
	arch = x86_64
	arch = aarch64
	license = GPL-2.0-or-later
	license = CC-BY-4.0
	makedepends = cmake>=3.21
	makedepends = extra-cmake-modules
	makedepends = ninja
	makedepends = qt6-tools
	makedepends = vde2
	makedepends = vulkan-headers
	makedepends = git
	depends = fluidsynth
	depends = hicolor-icon-theme
	depends = libserialport
	depends = libslirp
	depends = openal
	depends = qt6-base
	depends = rtmidi
	depends = sdl2
	depends = freetype2
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = libevdev
	depends = libglvnd
	depends = libpng
	depends = libsndfile
	depends = libx11
	depends = libxcb
	depends = libxext
	depends = libxi
	depends = libxkbcommon-x11
	depends = libxkbcommon
	depends = wayland
	depends = zlib
	optdepends = 86box-roms: ROM files
	optdepends = discord-game-sdk: Discord Rich Presence
	optdepends = ghostscript: Printing with Generic PostScript Printer
	optdepends = libpcap: Networking not limited to TCP/IP
	provides = 86box
	conflicts = 86box
	conflicts = 86box-git
	conflicts = 86box-odr-git
	conflicts = pcbox-git
	options = !buildflags
	source = 86box-nightly_9293.txz::https://ci.86box.net/job/86Box/9293/artifact/86Box-Source-b9293.tar.bz2
	source = 86box-nightly-assets::git+https://github.com/86Box/assets.git
	sha512sums = a5e8febeaa453cf1bcf3ef592aa1d9062221e418d18bac9fe2776a868b75f155dfd51a120e385cf86f399bbc14e479ae168c69430608553fc1a6ba8bf483ee22
	sha512sums = SKIP

pkgname = 86box-nightly
